*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav{
    background-color: black;
    color:white;
    padding:15px;
    margin:6px;
}
h1,ul,li{
    display: inline-block;
    padding:5px;
}
ul li {
   list-style-type: none;
   color: gray;
}
ul li:hover{
    color:white;
}
ul {
    margin-left: 65%;
}
.searchbar {
    text-align: center;
    margin: 50px;
}
.searchbar input{
    display: inline-block;
    width:65%;
    height:50px;
    padding: 10px;
    font-size: 15px;
}
.products{
    text-align: center;

}
.products div{
    display: inline-block;
    text-align: center;
    border: 2px solid black;
}
.products p{
    padding: 5px;
}
.products div:hover{
    background-color: black;
    color: white;
    box-shadow: 10px 8px 36px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 8px 36px 3px rgba(0,0,0,0.75);
    transition: all 0.2s;
}
.about{
    text-align: center;
    margin-top: 50px;
}
.contact{
    text-align: center;
    margin-top: 50px;
    background-color: black;
    color:white;
    padding:10px
}
.contact #para{
    color:gray;
    margin-top: 30px;
}